.userinfo_container{
    /* display:flex; */
    text-align: center;
    max-width: 500px;
    height: fit-content;
    margin: 80px auto 0px auto;
}


.userinfo{
    list-style: none;
    margin: 60px auto 0px auto;
    padding: 40px;
    border: solid white 2px;
    background-color: rgb(94, 64, 104);
}

.userinfo > div{
    font-size: 28px;
    color: white;
    word-spacing: 6px;
    letter-spacing: 1px;
}

.userinfo > div > img{
    width: 200px;
    height: 200px;
}

.userinfo > li{
    
    font-size: 28px;
    color: white;
    word-spacing: 6px;
    letter-spacing: 1px;
}

.userinfo > button{
    color: white;
    font-size: large;
    text-align: center;
    width: 200px;
    height: 50px;
    border: solid black 2px;
    border-radius: 8px;
    background: linear-gradient(90deg,
     rgb(96, 88, 238) 0%,
      rgb(105, 105, 239) 41%,
       rgba(204,88,255,1) 100%);
    transition:all linear 0.3s;
}

.userinfo > button:hover{
    transform: scale(1.1);
    color: rgb(53, 52, 52);
}

.userinfo > button:active{
    transform: scale(0.9);
}