/* .book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    gap: 14px;
} */

.book_showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.book_title{
    font-size: 28px;
    color: rgb(246, 221, 195);
    font-style: italic;
    text-align: center;
}

.book_cover{
    border: solid black 2px;
    transition:all linear 0.24s;
    -webkit-box-shadow: 0px 4px 10px 4px #000000;
    -moz-box-shadow: 0px 4px 10px 4px #000000;
    box-shadow: 0px 4px 10px 4px #000000;
}

.book_cover:hover{
    transform: scale(1.05);
}

.authors{
    font-size: 16px;
}