.book_box{
    max-width: 80%;
    margin: 60px auto 50px auto;

}


.book_list{
    color: white;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-template-rows: 1fr;
    text-align: center;
    gap: 40px;
    padding: 20px;
}

.book{
    text-decoration: none;
}